    html {
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
    }
    body,
    div,
    p {
    	margin: 0;
    	padding: 0;
    }
    ul {
        list-style: none;
    }
    body {
    	width: 100%;
        *cursor: default;
    	overflow: hidden;
    	font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    }
    #pageContain {
    	overflow: hidden;
    }
    .page {
    	display: none;
    	width: 100%;
    	height: 100%;
    	overflow: hidden;
    	position: absolute;
    	top: 0;
    	left: 0;
    }
    .contain {
    	width: 100%;
    	height: 100%;
    	display: none;
    	position: relative;
    	z-index: 0;
    }
    /*垂直水平居中*/
    .center {
        display: table;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .current .contain,.slide .contain {
    	display: block;
    }
    .current {
    	display: block;
    	z-index: 1;
    }
    .slide {
    	display: block;
    	z-index: 2;
    }
    .swipe {
        display: block;
        z-index: 3;
        -webkit-transition-duration: 0ms !important;
        transition-duration: 0ms !important;
    }
    .page1 {
    	/*background: #37c1e3;*/
        background-image: url('images/background1.png');
        background-size: 100% 42rem;
        /*background-repeat: no-repeat;*/
    }
    .page2, .page3, .page4, .page5, .page6, .page7 {
    	background-image: url('images/background2.png');
        background-size: 100% 42rem;     
    } 
    #navBar {
    	z-index: 3;
    	position: absolute;
    	top: 10%;
    	right: 3%;
        opacity: 0;
    }
    .circle img{
        width: 80%;
        position: absolute;
        top: 20%;
        left: 10%;
        animation: myfirst 1s;
        -webkit-animation: myfirst 1s;  /* Safari 和 Chrome */
        -webkit-animation-delay:1s;
    }
    @-webkit-keyframes myfirst /* Safari 和 Chrome */{
        from {
            left: -10rem;
           /* width: 30%;*/
        }
        to {
            left: 21%;
           /* width: 80%;*/
        }
    }


    .heart img{
        width: 42%;
        position: absolute;
        left: 52%;
        top: 20%;
        -webkit-animation: heart 1s;  /* Safari 和 Chrome */
        animation: heart 1s;
    }
    #tuan{
        width: 3rem;
        left: 79%;
        top: 20%;
        margin-top: -7%;
    }
    @-webkit-keyframes heart /* Safari 和 Chrome */{
        from {
            top: -20px;
        }
        to {
            top: 20%;
        }
    }


    .tit img{
        width: 62%;
        position: absolute;
        left: 20%;
        top: 75%;
        animation: tit 1s;
        -webkit-animation: tit 1s;  /* Safari 和 Chrome */
    }

    @-webkit-keyframes tit /* Safari 和 Chrome */{
        from {
            top: -22rem;
        }
        to {
            top: 75%;
        }
    }


    .zhuban {
        position: absolute;
        top: 83%;
        width: 100%;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }

    .turn{
        width: 8%;
        position: absolute;
        left: 48%;
        top: 93%;
    }
    .step1 p {
        opacity: 0;
        transform: scale(2);
        -webkit-transform: scale(2);
    }

    .peoson{
        width: 94%;
        /*height: 16rem;*/
        padding: .8rem;
        margin-top: 45px;
    }
    .person1,
    .person2 {
        width: 12%;
        float: right;
        margin-right: 1.5rem;
        margin-top: 10px;
        -webkit-animation: ssc 2s;  /* Safari 和 Chrome */
        animation: ssc 2s;
    }
    .person2{
        float: left;
        margin-left: 1.5rem;
    }
    .talk{
        text-align: center;
        width: 65%;
        margin-left: 5%;
        margin-top: 10px;
        animation: ssc 2s;        
        -webkit-animation: ssc 2s;  /* Safari 和 Chrome */
    }
    .ttalk{
        width: 33%;
        position: absolute;

    }
    #tt3{ 
        top: 45%;
        left: 17%;
        -webkit-animation: sc 2s;  /* Safari 和 Chrome */
        animation: sc 2s;
    }
    #tt4{
        top: 58%;
        left: 27%;
        -webkit-animation: sc 4s;  /* Safari 和 Chrome */
        animation: sc 4s;
    }
    #tt5{
        top: 50%;
        left: 55%;
        -webkit-animation: sc 3s;  /* Safari 和 Chrome */
        animation: sc 3s;
    }
    #tt6{
        top: 70%;
        left: 45%;
        animation: sc 4.5s;
        -webkit-animation: sc 4.5s;  /* Safari 和 Chrome */
    }
    .delay {
        -webkit-animation: scc 3s;  /* Safari 和 Chrome */
        animation: scc 3s;
    }

/*page4*/
    .page4 .title {
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
        -webkit-animation: ssc 2.5s;  /* Safari 和 Chrome */
        animation: ssc 2.5s;

    }
    .grade {
        text-align: center;
    }
    .one {
        width: 50%;
        margin-top: 10px;
        -webkit-animation: one 3s;  /* Safari 和 Chrome */
        animation: one 3s;
    }
    .two {
        width: 80%;
        margin-top: 10px;
        -webkit-animation: one 3.5s;  /* Safari 和 Chrome */
        animation: one 3.5s;
    }
    .three {
        width: 50%;
        margin-top: 10px;
        -webkit-animation: one 4s;  /* Safari 和 Chrome */
        animation: one 4s;
    }

/*page5*/
    .text {
        width: 80%;
        padding: 3rem 0;
        margin: 0 auto;
        background: url(images/text.png) no-repeat;
        background-size: contain;
    }
    .word {
        width: 70%;
        z-index: 1;
        margin: 0 auto;
        margin-left: 1rem;
        -webkit-animation: one 2s;  /* Safari 和 Chrome */
        animation: one 2s;
    }

/*page6*/
.voice .voi,
.voice .sun {
    display: block;
    width: 80%;
    margin: 0 auto;
    -webkit-animation: sc 3s;  /* Safari 和 Chrome */
    animation: sc 3s;
}
.voice .sun{
    -webkit-animation: ssc 2s;  /* Safari 和 Chrome */
    animation: ssc 2s;
}


/*animation*/
    @-webkit-keyframes ssc /* Safari 和 Chrome */{
        0% {
            opacity: 0;
            transform:scale(0);
        }
        100% {
            opacity: 1;
            transform:scale(1);
        }
    }

    @-webkit-keyframes scc /* Safari 和 Chrome */{
        0% {
            opacity: 0;
            transform:scale(0);
        }

        50% {
            opacity: 0;
            transform:scale(0); 
        }

        100% {
            opacity: 1;
            transform:scale(1);
        }
    }

    @-webkit-keyframes sc /* Safari 和 Chrome */{
        0% {
            opacity: 0;
            transform:scale(0);
        }

        80% {
            opacity: 0;
            transform:scale(0); 
        }

        100% {
            opacity: 1;
            transform:scale(1);
        }
    }

    @-webkit-keyframes one /* Safari 和 Chrome */{
        0% {
            opacity: 0;
            transform:scale(0);
            transform:translateY(12rem);
        }

        85% {
            opacity: 0;
            transform:scale(0);
            transform:translateY(12rem); 
        }

        100% {
            opacity: 1;
            transform:scale(1);
            transform:translateY(0rem);
        }
    }

    /*last*/
    .last {
        display: block;
        width: 80%;
        margin: 0 auto;
    }